@import "tailwindcss";

:root {
  --surface-0: #f4f3f1;
  --surface-1: #eeeded;
  --surface-2: #ffffff;

  --text-primary: #111111;
  --text-secondary: #5f5e5a;
  --text-muted: #8a8880;

  --border: #e2e0dc;
  --border-strong: #cfcdc7;

  --bg-success: #eaf3de;
  --text-success: #3b6d11;

  --bg-danger: #fcebeb;
  --text-danger: #a32d2d;

  --radius: 8px;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  background: var(--surface-0);
  color: var(--text-primary);
}
